{:deps
 {org.clojure/data.csv {:mvn/version "1.0.0"}}

 :aliases
 {:run  {:main-opts ["-m" "top-10.terminal"]}
  :test {:extra-deps {com.gfredericks/test.chuck {:mvn/version "0.2.11"}
                      lambdaisland/kaocha        {:mvn/version "1.0.861"}
                      org.clojure/test.check     {:mvn/version "1.1.0"}}
         :main-opts  ["-m" "kaocha.runner"]}}}
